body {
	background-color: #f5f5f5;
}
nav {
	background-color: #f26f21;
}
.brand-logo img {
	width: 150px;
}
@media only screen and (max-width: 992px) {
	.brand-logo img {
		width: 100px;
		margin: 10px 0px;
	}
}
.answer {
    display: inline-block;
    margin: 0px;
}
.answer {
	width: 100%;
}
.answer li {
    width: 50%;
    float: left;
    padding: 5px 0px;
}
.card .card-content {
    padding: 10px 15px;
}
.card .card-action {
	padding: 10px;
}
.card .card-title {
	font-size: 16px;
}
.btn, .btn-large {
	background-color: #00aff0;
}
.btn:hover, .btn-large:hover {
	background-color: #24c4ff;
}
.btn:focus, .btn-large:focus, .btn-floating:focus {
	background-color: #0abdff;
}